<!--display all posts-->
<main ng-controller="RedditController">
    <div class="posts">
        <p>{{ view.greeting }}</p>
        <div class="onePost" ng-repeat="post in view.allPosts | orderBy: '-' + display |  filter:searchText">
            <figure>
                <img ng-src="{{post.image}}">
            </figure>
            <div class="content">
                <div class="titleRow">
                    <h1 id="title">{{ post.title }}</h1>
                    <img class="arrow" src="../resources/arrowUp.png" ng-click="upVote(post)">
                    <img class="arrow" src="../resources/arrow.png" ng-click="downVote(post)">
                    <p ng-class="voteClass(post)">{{ post.votes }}</p>
                    <p id="author">{{ post.author }}</p>
                </div>
                <p id="postText">{{ post.text }}</p>
                <div class="dateRow">
                    <p id="date">{{ post.date | date:'fullDate' }}</p>
                    <p ng-click="toggleComments(post)">|    {{ post.comments.length}}
                        <ng-pluralize count="{{post.comments.length}}"
                                      when="{'one': 'comment',
                                            'other': 'comments'}">
                        </ng-pluralize></p>
                    <p id="addComment" ng-click="viewCommentForm(post)">|    Add Comment</p>
                </div><br>
                <div class="comments" ng-show="post.showComments === true" ng-repeat="comment in post.comments">
                    <p>{{comment.user}}</p>
                    <p> - {{comment.comment}}</p>
                </div>
                <!--add new comment form-->
                <div class="newComment" ng-show="post.viewNewCommentForm === true">
                    <form class="addCommentForm" name="newCommentForm" ng-submit="newComment(newUserComment, post)" novalidate>
                        <p>Author:</p>
                        <input type="text"
                               name="user"
                               ng-model="newUserComment.user"
                               required>
                        <div class="error"
                             ng-show="newCommentForm.user.$touched && newCommentForm.user.$dirty && newCommentForm.user.$invalid">
                            <small class="error"
                                   ng-show="newCommentForm.user.$error.required">
                                An author name is required.
                            </small>
                        </div>
                        <p>Comment: </p>
                        <input type="text"
                               name="comment"
                               ng-model="newUserComment.comment"
                               required>
                        <div class="error"
                             ng-show="newCommentForm.comment.$touched && newCommentForm.comment.$dirty && newCommentForm.comment.$invalid">
                            <small class="error"
                                   ng-show="newCommentForm.comment.$error.required">
                                A comment is required.
                            </small>
                        </div>
                        <button type="submit" class="button" ng-disabled="newCommentForm.$invalid">Submit Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>