<nav class="navbar" ng-controller="navController">
    <ul>
        <li><a class="active" href="#">Volcanoes</a></li>
        <li><a href="#add" ng-click="viewPostForm()">Add Post</a></li>
        <div class="dropdown">
            <button class="dropbtn">Sort By</button>
            <div class="dropdown-content">
                <select name="display" ng-model="display" ng-init="display='votes'">
                    <option value="votes">Votes</option>
                    <option value="date">Date</option>
                    <option value="title">Title</option>
                </select>
            </div>
        </div>
        <form>
            <input type="text" class="search" placeholder="Search..." ng-model="searchText">
        </form>
        <li ng-show="!currentUser"><a href="#/login">Login/Register</a></li>
        <li ng-show="currentUser"><a href="#/logout">Logout</a></li>
    </ul>
</nav>



